:root   {
    --bg-home-color: #FFE15B;
    --bg-btnhome-color: #EE3593;
    --bg-title-color:#48c56d;
}

html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    min-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-home-color);
    overflow: hidden;
}


#btn-vs, #username2 {
    display: none;
}

h1 {
    padding-top: 8%;
    padding-bottom: 0px;
    text-align: center;
    font-family: 'Luckiest Guy', Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    -webkit-text-stroke: 0.5px black;

}

h1.display-1 {
    font-size: 8em;
    margin: 0;
    line-height: 1.2;
    animation: pulse 2s infinite ease-in-out; /* Animación de pulsación */
}

@keyframes pulse {
        0% {
        transform: scale(1);
        opacity: 1;
        }
        50% {
        transform: scale(1.05); /* Ligeramente más grande */
        opacity: 0.8; /* Ligeramente transparente */
        }
        100% {
        transform: scale(1);
        opacity: 1;
        }
}

.spanTitle1 {
        animation: colorChange1 5s infinite alternate;
    }
    
    .spanTitle2 {
        animation: colorChange2 5s infinite alternate;
    }
    
    @keyframes colorChange1 {
        0% { color: #075f29; }
        50% { color: #339699; } /* Un verde */
        100% { color: #48c56d; }
    }
    
    @keyframes colorChange2 {
        0% { color: #dc35ce; }
        50% { color: #88194d; } /* Un gris */
        100% { color:  #EE3593; }
}

img {
    width: 30%;
    margin-bottom: 20px;
}

section {
    padding-top: 0px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#btn-start {
    width: 7%;
    height: 30px;
    background-color: var(--bg-btnhome-color);
    color: white;
    margin-bottom: 10%;
    border-radius: 10px;
}

#btn-start:hover{
    background-color: #e60bc879;
}

#username1  {
    margin-bottom: 50px;
    text-align: center;
    border-radius: 5px;
}
footer  {
    text-align: center;
    margin-bottom: 2%;
}

.spanTitle1 {
    color: var(--bg-btnhome-color);
}

.spanTitle2 {
    color: var(--bg-title-color);
}