:root {
  --bg-home-color: #ffe15b;
  --bg-btnhome-color: #ee3593;
  --bg-title-color: #01cae6;
  --bg-dark-yellow: #f3c611;
  --bg-medium-yellow: #fde94e;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-home-color);
}

.inverted {
  transform: scaleX(-1);
}

h1 {
  font-family: "Luckiest Guy", sans-serif;
  color: white;
  .spanTitle1 {
    color: var(--bg-btnhome-color);
  }
  .spanTitle2 {
    color: var(--bg-title-color);
  }
}

.game-develop {
  font-family: "Nerko One", sans-serif;
}

.score-card {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--bg-btnhome-color);
  border-radius: 10px;
  width: 215px;
}
.img-choice {
  min-height: 250px;
  max-height: 250px;
}

.label-vs {
  background-color: var(--bg-dark-yellow);
  border-radius: 10px;
  color: black;
  width: 100px;
}

.button-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
}
.button-rock {
  background-color: var(--bg-medium-yellow);
  &:hover {
    background-color: var(--bg-dark-yellow);
  }
}

.button-paper {
  background-color: #6cd0d2;
  &:hover {
    background-color: #0ba3b8;
  }
}
.button-scissors {
  background-color: #dfbbd9;
  &:hover {
    background-color: var(--bg-btnhome-color);
  }
}


#btn-home {
  background-color: #13be0d; /* Color personalizado */
  border-color: #f0e228;
  color: white;
}

#btn-home:hover {
  background-color: #0c8d07;
  border-color: #f0e228;
}

#btn-reset {
  background-color: #ff4a3d;
  border-color: #fff23d;
  color: white;
}

#btn-reset:hover {
  background-color: #da3f3f;  
  border-color: #fff23d;
}
